<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/pages/panel">
        <img src="/img/logo-dulcemania.png" alt="Logo-dulcemania" srcset="" width="50" height="40">
      </a>
      
      <button class="navbar-toggler" type="button"   data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/pages/panel">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/crear-producto">Crear Producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/registrar-proveedor">Registrar Proveedor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/registrar-cliente">Registrar cliente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/procesar-entrada">Procesar Entrada de Stock</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/procesar-salida">Procesar Salida de Stock</a>
          </li>
        </ul>
        <span class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Bienvenido <%= dataUser.nombre_usuario %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="/pages/perfil">Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-danger" href="/usuarios/salir">Salir</a></li>
        
          </ul>
        </span>
       
      </div>
    </div>
  </nav>